<!DOCTYPE html>
{% extends 'Base.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CreateApharmacy</title>
</head>
<body>
<div class="container">
<form action="" method="POST" enctype="multipart/form-data" class="form-control me-2">
    {% csrf_token %}
    <table>{{form.as_table}}</table>
    <table class="row">{{formi.as_table}}</table>
<div class="row">
    <input type="submit" value="create" class="btn btn-outline-success"/></div>
</form></div>
</body>
</html>
{% endblock %}