<!DOCTYPE html>
{% extends 'Base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>edit</title>
<script>

    function load(){
        document.getElementById("btnsubmit").setAttribute("class","btn btn-outline-success");
        document.getElementById("id_Title").setAttribute("value","{{ph.Title}}");
        document.getElementById("id_description").innerHTML="{{ph.description}}";
        document.getElementById("id_info_for_accepted_requests").innerHTML="{{ph.info_for_accepted_requests}}";
        }


    </script>
</head>
<body onload="load()">
Pharmacy : {{ph2}}<br><br>

<div class="container"><div class="row">
<form action="" method="POST" enctype="multipart/form-data" class="row form-control me-2">
    {% csrf_token %}
    <table>
    {{form.as_table}}</table>
<label for="id_open">Working requests :</label>
<select name="open" id="id_open">
  <option value="1">Open</option>
  <option value="2">Closed</option>
</select>
    {% if ph != "" %}
    <a href="{% url 'uploadapharmacy' ph.id %}" >Upload image</a>{% endif %}
    <br>
    <br>
    <div class="row">
    <input type="submit" id="btnsubmit" class=""/></div>
</form></div></div><br><br>
</body>
</html>
{% endblock %}